<% unless comment.archived? %>
  <p>
    <strong><%=t('commenter')%>:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong><%=t('comment')%>:</strong>
    <%= comment.content%>
  </p>

  <p>
    <%= link_to t('destroy')+' '+t('comment'), [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class: "btn btn-outline-secondary"%>
  </p>
<% end %>