<%= form_with model: article do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label", for: "InputTitle" %><br>
    <%= form.text_field :title, class: "form-control", id: "InputTitle" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content, class: "form-label", for: "InputBody" %><br>
    <%= form.rich_text_area :content, class: "form-control", id: "InputBody" %><br>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="input-group mb-3 grid" style="--bs-columns: 3;">
    <%= form.label t('status'), class: "input-group-text" %>
    <%= form.select(:status, [
                                [I18n.t("public"), 'public'],
                                [I18n.t('private'), 'private'],
                                [I18n.t('archived'), 'archived']
                              ], {selected: [I18n.t('public'),'public']}, {:class=> "form-select"}) %>
    <%= form.label t('published_at'), class: "input-group-text"%>
    <%= form.date_select(:published_at, {include_blank:true}, {:class => 'form-select'}) %>
    <%= form.submit t('edit')+' '+t('article'), class: "btn btn-outline-secondary"%>
    <%= link_to t('devise.shared.links.back'), :back, class: "btn btn-outline-secondary" %>
  </div>
<% end %>