<div class="col-8 offset-2 col-sm-8 offset-sm-2">
  <h3 mb-3 fw-normal><%= @article.title %></h3>
      <%= @article.content %>
      <% if user_signed_in?%>
          <%= link_to t('edit'), edit_article_path(@article), class: "btn btn-outline-secondary my-3"%>
          <%= link_to t('destroy'), article_path(@article), data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            }, class: "btn btn-outline-secondary my-3"%>
          <h4 mb-3 fw-normal><%=t('comments')%></h4>
          <%= render @article.comments %>

          <h5 mb-3 fw-normal><%=t('add_a_comment')%>:</h5>
          <%= render 'comments/form' %>

      <%end%>
  </div>