<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to current_site, root_path, title: current_site, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li><%= link_to t('about_us'), about_path, class: "nav-link" %></li>
        <li><%= link_to t('service'), service_path, class: "nav-link" %></li>
        <li><%= link_to t('contacts'), contacts_path, class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=t("articles")%>
          </a>
          <%= content_tag(:ul, class:'dropdown-menu') do %>
            <%if user_signed_in?%>
              <% Article.find_each do |article|%>
                <% unless article.archived? %>
                  <%= content_tag(:li, (link_to article.title, article, class: "dropdown-item"))%>                
                <%end%>
              <%end%>
            <%else%>
              <% Article.published.find_each do |article|%>
                <% unless article.archived? %>
                  <%= content_tag(:li, (link_to article.title, article, class: "dropdown-item"))%>                
                <%end%>
              <%end%>           
            <%end%>
          <%end%>
        </li>
        <%= render 'partials/change_locale' %>
      </ul>
          
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path, class:"px-1 mx-1"%>
        <%= button_to "Вийти", destroy_user_session_path, method: :delete, class:"btn btn-outline-secondary px-1 mx-1"%>
      <% else %>
        <div class="dropdown px-1">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Увійти
          </button>
          <ul class="dropdown-menu dropdown-menu-end px-1" style="width:21rem">
            <%=render 'users/sessions/new'%>
          </ul>
        </div>
        <div class="grid text-center">
          <%= link_to "Стати виконавцем", new_user_registration_path, class:"btn btn-outline-primary px-1 mx-1"%>
        </div>
      <% end %>
    </div>
  </div>
</nav>